
.footer_main_container{
    display: flex;
    background-color: #f4f4f4;
    justify-content: center;
}
.footer-cont{
    width: 1200px !important;
}
.terms_cond{
    font-size: 13px;
}
.F-heading{
    font-size: 16px;
    font-weight: bold;
}
.F_links{
    display: block;
    cursor: pointer;
    text-decoration: none;
    font-size: 12px;
    color: #191914;
    margin-top: 5px !important;
}
.F_links:hover{
    text-decoration: underline;
}
.last_links{
    display: inline;
    margin-right: 25px !important;
}
.langSelect .up_arrow{
    font-size: 25px;
}
.langSelect span{
    font-weight: bold;
    font-size: 12px;
}
.usa_flag{
    width: 30px;
    margin-right: 10px !important;
    /* height: 120px; */
    /* border: 1px solid black; */
}
.social button{
    margin-left: 5px !important;
    border-radius: 3px !important;
    font-size: 12px;
    padding: 0px 4px !important;
}
.social button:hover{
    text-decoration: underline;
}
.social_icon{
    font-size: 20px;
    margin: 0px  10px!important;
}
.stores img{
    width: 140px;
}
